.minigames-section {
  padding-top: clamp(60px, 9.167vw, 110px);
  padding-bottom: clamp(20px, 3.833vw, 46px);
  background-color: var( --token-bg);

  &__box {
    padding-top: clamp(30px, 5.25vw, 63px);
    padding-bottom: clamp(25px, 4.667vw, 56px);
    padding-left: clamp(20px, 6.667vw, 80px);
    padding-right: clamp(20px, 6.667vw, 80px);
    background: var(--header-bg);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-family: var(--font-family2);
    font-style: normal;
    font-weight: 700;
    font-size: clamp(26px, 3.333vw, 40px);
    line-height: 100%;
    color: var(--color-a);
    margin-bottom: clamp(15px, 1.833vw, 22px);
  }

  &__text {
    font-family: var(--font-family2);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(14px, 1.667vw, 20px);
    line-height: 130%;
    text-align: center;
    color: var(--color-g);
  }

  &__list {
    margin-top: clamp(20px, 3.75vw, 45px);
  }
}
