.partners-section {
  padding-top:clamp(40px, 8.083vw, 97px) ;
  padding-bottom: clamp(60px, 9.167vw, 110px);
  background-color: var( --token-bg);

  &__top {
    margin-bottom: clamp(30px, 4.167vw, 50px);
  }
}
