.roadmap-section {
  padding: clamp(60px, 11.833vw, 142px) 0 clamp(80px, 21.25vw, 255px);
  background-color: var( --about-bg-alt);
  background-image: url(../img/roadmap_bg.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center 4vw;
  background-repeat: no-repeat;

  .container {
    max-width: 1420px;
  }

  &__top {
    margin-bottom: clamp(30px, 4.167vw, 50px);
  }

  &__box {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
  }

  &__inner {
    max-width: clamp(200px, 21.25vw, 255px);


  }

  &__round {
    width: clamp(200px, 21.25vw, 255px);
    height: clamp(200px, 21.25vw, 255px);
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: var(--font-family2);
    font-style: normal;
    font-weight: 700;
    font-size: clamp(22px, 4vw, 48px);
    line-height: 58%;
    text-align: center;
    color: var( --color-b);
    margin-bottom: 10px;
  }

  &__subtitle {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: clamp(18px, 1.833vw, 22px);
    line-height: 164%;
    text-align: center;
    color: var( --color-a);
  }

  &__text {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 1.667vw, 20px);
    line-height: 150%;
    text-align: center;
    color: var( --color-a);
  }

  &__point {
    margin: 10px auto 57px;
    width: 32px;
    height: 33px;
    border-radius: 3px;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    &::before {
      height: 4px;
      width: 370px;
      content: '';
      position: absolute;
      z-index: -1;
      left: 10px;
      right: -100px;
      top: 50%;
      transform: translateY(-50%);
      background: var(--color-b);
    }

    &::after {
      width: 32px;
      height: 33px;
      content: '';
      background: url("data:image/svg+xml,%3Csvg width='32' height='33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.4 16.4 16.1.8.8 16.4l15.3 15.7 15.3-15.7Z' fill='%23FDCB1E'/%3E%3C/svg%3E");
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }


  &__slide {
    width: fit-content;
    display: flex;
    justify-content: center;

    &:not(:first-child) {
      .roadmap-section__point::before {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    &:last-of-type {
      .roadmap-section__point::before {
        display: none;
      }
    }

    // &:nth-child(4) {
    //   .roadmap-section__point::before {
    //     display: none;
    //   }
    // }
  }

  &__icon {
    width: 100%;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 20;
    top: 54.5%;
    transform: translateY(-50%);
    transition: all .4s;
    &-icon {
      fill: transparent;
    }

    &:active {
      transform: translateY(-50%) scale(.8);
    }

    &.swiper-button-disabled {
      opacity: .3;
      pointer-events: none;
    }
  }

  &__nav-wrapper {
    position: relative;
  }

  &__next {
    left: -82px;

  }

  &__prev {
    right: -82px;
  }


}
