.roadmap-section {
  padding: clamp(60px, 11.833vw, 142px) 0 clamp(80px, 21.25vw, 255px);
  background-color: var( --about-bg-alt);
  background-image: url(../img/roadmap_bg.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center 4vw;
  background-repeat: no-repeat;

  @media (max-width:575px) {
    background-attachment: scroll;
  }

  .container {
    max-width: 1420px;
  }

  &__top {
    margin-bottom: clamp(30px, 4.167vw, 50px);
  }

  &__box {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    // grid-area: slider;
    // width: 100%;
  }

  &__inner {
    max-width: 255px;
  }

  &__round {
    width: 255px;
    height: 255px;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: var(--font-family2);
    font-style: normal;
    font-weight: 700;
    font-size: clamp(22px, 4vw, 48px);
    line-height: 100%;
    text-align: center;
    color: var( --color-b);
    margin-bottom: 10px;
  }

  &__subtitle {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 164%;
    text-align: center;
    color: var( --color-a);
  }

  &__text {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: var( --color-a);
  }

  &__point {
    margin: 10px auto 57px;
    width: 32px;
    height: 33px;
    border-radius: 3px;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    &::before {
      height: 4px;
      width: Min( 26vw,374px);
      content: '';
      position: absolute;
      z-index: -1;
      left: 10px;
      right: -100px;
      top: 50%;
      transform: translateY(-50%);
      background: var(--color-b);

      @media (min-width: 767px) and (max-width:1240px) {
        width: Min(36vw,420px);
      }

      @media (min-width: 575px) and (max-width:766px) {
        width: Min(54vw,413px);
      }

      @media (max-width:574px) {
        display: none;
      }
    }

    &::after {
      width: 32px;
      height: 33px;
      content: '';
      background: url("data:image/svg+xml,%3Csvg width='32' height='33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.4 16.4 16.1.8.8 16.4l15.3 15.7 15.3-15.7Z' fill='%23FDCB1E'/%3E%3C/svg%3E");
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }


  &__slide {
    width: fit-content;
    display: flex;
    justify-content: center;

    &:not(:first-child) {
      .roadmap-section__point::before {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    &:last-of-type {
      .roadmap-section__point::before {
        display: none;
      }
    }

    // &:nth-child(4) {
    //   .roadmap-section__point::before {
    //     display: none;
    //   }
    // }

    // @media (max-width: 575px) {
    //   width: 100% !important;
    // }
  }

  &__icon {
    width: 100%;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 20;
    top: 240px;
    // transform: translateY(-51.5%);
    transition: all .4s;
    &-icon {
      fill: transparent;
    }

    &:active {
      transform: scale(.8);
    }

    &.swiper-button-disabled {
      opacity: .3;
      pointer-events: none;
    }


    @media (max-width: 575px) {
      position: absolute;
      margin: 50px auto 0;
      top: initial;
      bottom: -30px;

      &:active {
        transform: scale(.8);
      }

    }
  }

  &__next {
    left: -82px;
    grid-area: next;

    @media (max-width: 1600px) {
      left: -2px;
    }

    @media (max-width: 575px) {
      left: 15vw;
    }

  }

  &__prev {
    right: -82px;
    grid-area: prev;
    @media (max-width: 1600px) {
      right: -2px;
    }
    @media (max-width: 575px) {
      right: 15vw;
    }
  }

  &__nav-wrapper {
    position: relative;

    @media (max-width: 575px) {
      padding-bottom: 80px;
      margin-left: -10px;
      width: calc(100% + 20px);
    }
  }


}
