:root {
    /* -- Fonts --*/
  --font-family: "Roboto", sans-serif;
  --font-family2: "Khand", sans-serif;
  --font-family3: "Rubik", sans-serif;

  // background-image: image-set(
  //   url("small-balloons.jpg") 1x,
  //   url("large-balloons.jpg") 2x);

  // text color
  --color-a: #fff;
  --color-b: #FACB07;

  // bg

  --header-bg: #171A2A;
  --about-bg: #1A1F2C;

}








