:root {
    /* -- Fonts --*/
  --font-family: "Roboto", sans-serif;
  --font-family2: "Khand", sans-serif;
  --font-family3: "Rubik", sans-serif;

  // background-image: image-set(
  //   url("small-balloons.jpg") 1x,
  //   url("large-balloons.jpg") 2x);

  // text color
  --color-a: #ffffff; // var(--color-a);
  --color-b: #FACB07; // var(--color-b);
  --color-c: #6C7C94; // var(--color-c);
  --color-d: #191400; // var(--color-d);
  --color-e: #5A6582; // var(--color-e);
  --color-f: #FDCB1E; // var(--color-f);
  --color-g: #576477; // var(--color-g);

  // bg

  --header-bg: #171A2A;
  --about-bg: #1A1F2C;
  --about-bg-alt: #10131c;
  --token-bg: #10131c;
  --team-sec-bg: #151924;
  --footer-bg: #171A2A;

  --single-bg: #0c121c;

  --about-round-color: #472880;
  --round-color: #FDCB1E;


  // diagram
  --diagram-round: #172032;
  --diagram-border: #111927;
  --diagram-before: #472880;


  --diagram-list--a: #46C9F4;
  --diagram-list--b: #3FE78F;
  --diagram-list--c: #FFC344;
  --diagram-list--d: #464DF4;
  --diagram-list--e: #6B25DF;
  --diagram-list--f: #C91160;
  --diagram-list--g: #F95A39;


}








